body{
    font-size: 25px;
    font-weight: 200;
}

h1 {
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 20px;
}

.containercurrency {
    max-width: 30%;
    margin: 0 auto;
    border: 1px solid #ddd;
    padding: 50px;
    border-radius: 20px;
    background-color: #A3CDE5; /* Updated background color */
    margin-bottom: 20%;
}

.containercurrency form {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Two columns with equal width */
    grid-gap: 10px; /* Gap between grid items */
}

.containercurrency form .amount-group {
    grid-column: 1 / span 2; /* Span two columns */
}

.containercurrency form input[type="text"],
.containercurrency form input[type="number"] {
    padding: 10px;
    border-radius: 3px;
    border: 0.5px solid #ddd;
}

.containercurrency form button {
    background-color: #278697;
    color: white;
    padding: 20px 30px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

#result {
    margin-top: 20px;
    text-align: center;
}

/* Center the amount input field and text horizontally */
.amount-group {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center elements horizontally */
    margin-bottom: 20px; /* Add some space between the amount group and the button */
}

.amount-group input,
.amount-group label {
    margin-bottom: 10px; /* Add some space between label and input */
}

.amount-group button {
    align-self: flex-end; /* Align the button to the right */
}
