body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-size: cover;
    color: #fff;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.search-form {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.label {
    font-size: 18px;
    margin-bottom: 10px;
}

.search-input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 18px;
}

.search-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.search-button:hover {
    background-color: #45A049;
}

.results-container {
    margin-top: 20px;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 5px;
    padding: 10px;
    color: #000;
}

.results-container ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.results-container li {
    margin-bottom: 10px;
    padding: 5px 10px;
    border-bottom: 1px solid #ddd;
}

.results-container li strong {
    font-weight: bold;
}

.weather-icon {
    width: 50px;
    height: 50px;
    vertical-align: middle;
}

.weatherh1 {
    text-align: center;
    margin-bottom: 100px;
    align-items: center;
}