.navigations ul.nav-list {
    list-style: none;
    margin: 0;
    padding: 0px;
    text-align: center;
    background-color: rgb(54, 184, 184);
    justify-content:space-around;
    display: flex;
  }
  
.navigations ul.nav-list li {
    display: inline-block;
    margin-right: 50px; /* Add some space between the items */
}
  
.navigations ul.nav-list li:last-child {
    margin-right: 0; /* Remove the right margin from the last item */
}